<h1 class="text-center text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" >!..New Meeting..!</h1>

<div class="row">
    <div class="col-2"></div>
    <div class="col-10" style="margin-left:300px ;">
        
  
  <!-- Modal -->
  <div class="modal fade modal-dialog modal-dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Share your new meeting.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 class="text-secondary text-center">Copy the link and send it to people that you want to meet with.</h6>
          <h6 class="text-secondary text-center">Make sure that you save it so that you can use it later,too.</h6>

          <input type="text" class="form-control" placeholder="meet.google.com/ctz-fvnn-mzv" disabled name=" disabled input">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="6" cy="12" r="3" />
                <circle cx="18" cy="6" r="3" />
                <circle cx="18" cy="18" r="3" />
                <line x1="8.7" y1="10.7" x2="15.3" y2="7.3" />
                <line x1="8.7" y1="13.3" x2="15.3" y2="16.7" />
              </svg>
            Send Invitation</button>
          <button type="button" class="btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-video" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0275d8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z" />
                <rect x="3" y="6" width="12" height="12" rx="2" />
              </svg>
            Start now</button>
        </div>
      </div>
    </div>
  </div>

    </div>
</div>
