<h1 class="text-center text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" >!..Join a Meeting..!</h1>

<div class="row">
    <div class="col-2"></div>
    <div class="col-10" style="margin-left:300px ;">
        
  
  <!-- Modal -->
  <div class="modal fade modal-dialog modal-dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Get a meeting code?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 class="text-secondary text-center">To join a meeting , enter the meeting code provided by the organiser.</h6>

          <input type="text" class="form-control" placeholder="Sample Code:abc-mnop-xyz(dashes optional)" name="" id="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-primary">join</button>
        </div>
      </div>
    </div>
  </div>

    </div>
</div>
